<h1><%= t('view.translations.index.title') %></h1>
<p><%= flash[:notice] %></p>
<ul>
  <% @translations.keys.each do |key| %>
    <li><%= "#{key}: "+ @translations[key] %></li>
  <% end %>
</ul>

<h2><%= t('view.translations.index.add_translations') %></h2>
<%= render :partial => "form" %>